body {
  font-family: "Noto Serif", serif;
  line-height: 1.75;
  font-size: 18px;
  max-width: 900px;
  margin: auto;
}

.references li {
  margin-bottom: 0;
}

.references p {
  margin-bottom: 0;
}
